body{
    background-image: url(http://clipart-library.com/images/pT7rqkzBc.jpg);
    /* background-image: url('./img/backgroud_body.png'); */
    background-size: cover;
    height: 1000px;
    position: relative;
}
.topHeader{
    height: 50px;
    font-family: cursive;
}
.topHeader h1 {
    font-family: cursive;
    font-weight: bold;
    color: blanchedalmond;
    text-shadow: 1px 1px 2px black;
    margin-top: 5px;
}
.navbar{
    width: 100%;
    margin-bottom: 0;
}
.bottomHeader{
    height: 200px;
    width: 100%;  
    border-radius: 5px;
}

.bottomHeader_left{
    height: 100%;
    width: 68%;
    float: left;
    margin: 5px;
    background-color: rgb(187, 138, 138);
    border-radius: 5px;

}
.bottomHeader_right{
    height: 100%; 
    width: 30%;
    float: right;
    margin: 5px;
    background-color: rgb(214, 204, 66);
    border-radius: 5px;

}
.bottomHeader_right_inner_top{
    background-color: rgb(114, 114, 114);
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    height: 30px;
    border-radius: 5px 5px 0 0;

}

.containerNews{
    height: 600px;
    width: 68%;
    background-color: whitesmoke;
    opacity: 0.8;
    margin: 5px;
    float: left;
}
.containerNav{
    height: 600px;
    width: 30%;
    background-color: rgb(145, 40, 40);
    opacity: 0.8;
    margin: 5px;
    float: right;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: rgb(27, 25, 25);
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    color: aliceblue;
    padding: 5px;
}
.footer-right{
    float: right;
    margin-right: 20px;
}
.footer-left{
    float: left;
    margin-left: 20px;
}
.registerForm{
    height: 600px;
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
    margin: 5px;
    margin-top: 10px;
    padding-top: 150px;
}